@import 'constants';

.header {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.profile-photo {
  @include tabletUp {
    margin: 30px 50px;
    width: 180px;
    height: 180px;
  }
}

.header-details {
  align-self: center;
  text-align: left;
  font-size: 14px;

  @include tabletUp {
    line-height: 1.8;
    font-size: 24px;
  }
}

.header-detail {
  display: flex;
  flex-direction: row;
  margin: 7px 0;

  @include tabletUp {
    line-height: 1.8;
  }
}

.icon-container {
  width: 14px;
  height: 14px;
  text-align: center;
  padding-right: 20px;
  align-items: center;

  @include tabletUp {
    width: 40px;
    height: 40px;
  }
}

.icon {
  color: $codeBlue;
}

.linkedin {
  color: $linkedInBlue;
}
